@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ----------------------------------------------------------------------------------------------------
*  reset
* --------------------------------------------------------------------------------------------------*/
/*====================================
RESET
======================================*/
html{overflow-y: scroll;}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
blockquote, q {
    quotes:none;
}
h1, h2, h3, h4, h5, h6, p {margin:0; font-weight:normal; display:block; font-size: 100%;}
ul,li {list-style:none; padding:0;margin:0;}
dl,dt,dd {padding:0; margin:0;}
table,tr,td {border:0;padding: 0 ; margin:0;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
a {
  text-decoration:none;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a:focus {
  outline:none;
  cursor: pointer;
}
a:hover {cursor: pointer;}

input, textarea, select {
    vertical-align:middle;
}
button{
     background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}

img {vertical-align:bottom; border:0; padding:0; margin:0;line-height:0; }
div {margin:0;padding:0;}

caption, th{
    font-weight: normal;
}


input,select,button,textarea{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	border-radius: 0;
	padding: 0;
	font-family:inherit;font-size:inherit;font-weight:inherit;
}

*,*:after,*:before{
	box-sizing: border-box;
}



/* ----------------------------------------------------------------------------------------------------
*  基本
* --------------------------------------------------------------------------------------------------*/
html,body{
	height:100%;
	width:100%;
}
html{
	font-size:62.5%;
    overflow-y: scroll;
}
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd,
table, th, td, img, form {
	text-align: left;
}
ul{letter-spacing: -0.4em;}
.android ul{letter-spacing: -1em;}
ul li{letter-spacing: normal;}
.f_roboto{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.05em;
}

body a {
	text-decoration:none;
	color:#000;
}
body{
	width: 100%;
	padding-top: 90px;
	font-size: 1.6rem;
	line-height: 1.4;
	font-family:'Roboto',"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,Verdana,sans-serif;
	color: #000;
}
.font_ja{
	font-family:"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,Verdana,sans-serif;
}
@media screen and (max-width: 768px) {
	body{
		padding-top: 48px;
		font-size: 1.2rem;
	}
}
.ie body{
	font-family:'Roboto',"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,Verdana,sans-serif;
}
.ie .font_ja{
	font-family:"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3", "メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,Verdana,sans-serif;
}
img{
	width:100%;
	height:auto;
}

a, a img, .fade{
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

a:hover, a:hover img, .fade:hover{
	opacity: 0.6;
}

table{width: 100%;}


/*--読み込み時にtransitionが動作する問題--*/
.preload * {
-webkit-transition: none !important;
-moz-transition: none !important;
-ms-transition: none !important;
-o-transition: none !important;
transition: none !important;
}

/* ----------------------------------------------------------------------------------------------------
*  汎用
* --------------------------------------------------------------------------------------------------*/
.wrap{
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}


@media screen and (min-width: 769px) {
	.sp{display: none!important;}
}

@media screen and (max-width: 768px) {
	body{
		min-width: 100%;
	}
	.wrap{
		width: 100%;
		padding: 0 5%;
	}
	.pc{
		display: none!important;
	}
}

/* ------------------------------
    btn
------------------------------ */
.btnGr,.btnBl,.btnWh{
	position: relative;
	display: block;
	text-align: center;
	font-weight: bold;
	border-radius: 50px;
	margin: 0 auto;
	width: 100%;
	max-width: 440px;
	text-decoration: none!important;
}

/*--colors--*/
.btnGr,.btnBl{
	color: #fff;
	font-size: 2.4rem;
	line-height: 70px;
}

.btnGr{
	background: #8ec251;
	box-shadow: 0px 6px 0px -3px rgba(91, 127, 127, 1);
	-webkit-box-shadow: 0px 6px 0px -3px rgba(91, 127, 127, 1);
}

.btnBl{
	background: #39b4d8;
	box-shadow: 0px 6px 0px -3px rgba(38,125,151,1);
	-webkit-box-shadow: 0px 6px 0px -3px rgba(38,125,151,1);
}

.btnWh{
	font-size: 2rem;
	color: #0e7ac4;
	background: #fff;
	border: 2px solid #0e7ac4;
	line-height: 56px;
	padding-right: 10px;
}


/*--arrow--*/
.btnGr:before,.btnBl:before, .btnGr:after,.btnBl:after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 34px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);	
}
.btnGr:before,.btnBl:before{
	width:30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
}


.btnGr:after,.btnBl:after{
	width: 11px;
	height: 11px;
	border-top: 3px solid #0e7ac4;
	border-right: 3px solid #39b4d8;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-right: 11px;
	margin-top: -6px;
}
.btnBl:after{border-right: 3px solid #8ec251;}

.btnWh:after{
	content: "";
	display: inline-block;
	position: absolute;
	width: 11px;
	height: 11px;
	margin-left: 6px;
	border-top: 3px solid #0e7ac4;
	border-right: 3px solid #39b4d8;
	top: 50%;
	margin-top: -2px;
	-webkit-transform: rotate(45deg) translateY(-50%);
	transform: rotate(45deg) translateY(-50%);	
}
.btnWh.arrowbtm:after{
	-webkit-transform: rotate(135deg) translateY(-50%);
	transform: rotate(135deg) translateY(-50%);
	margin-top: -10px;
	margin-left: 8px;
}



/*--smallbtn--*/
.btnWh_s{
	position: relative;
	display: inline-block;
	padding: 0 30px 0 20px;
	border-radius: 30px;	
	font-size: 1.4rem;
	color: #0e7ac4;
	width: auto;
	line-height: 28px;
	border: 1px solid #0e7ac4;
	background: #fff;
	text-decoration: none!important;
}

.btnWh_s:after{
	content: "";
	display: inline-block;
	position: absolute;
	width: 8px;
	height: 8px;
	margin-left: 4px;
	border-top: 2px solid #0e7ac4;
	border-right: 2px solid #39b4d8;
	top: 50%;
	margin-top: -2px;
	-webkit-transform: rotate(45deg) translateY(-50%);
	transform: rotate(45deg) translateY(-50%);	
}


@media screen and (max-width: 768px) {
	.btnGr,.btnBl{
		font-size: 1.4rem;
		line-height: 42px;
	}

	.btnGr{
		box-shadow: 0px 3px 0px -1px rgba(91, 127, 127, 1);
		-webkit-box-shadow: 0px 3px 0px -1px rgba(91, 127, 127, 1);
	}

	.btnBl{
		box-shadow: 0px 3px 0px -1px rgba(38,125,151,1);
		-webkit-box-shadow: 0px 3px 0px -1px rgba(38,125,151,1);
	}
	.btnWh{
		width: 100%;
		max-width: 100%;
		font-size: 1.2rem;
		border-width: 1px;
		line-height: 30px;
		padding-right: 10px;
	}

	/*--arrow--*/
	.btnGr:before,.btnBl:before, .btnGr:after,.btnBl:after{
		right: 15px;
	}
	.btnGr:before,.btnBl:before{
		width:14px;
		height: 14px;
	}
	.btnGr:after,.btnBl:after{
		width: 6px;
		height: 6px;
		border-width: 2px;
		margin-right: 5px;
		margin-top: -3px;
	}
	.btnBl:after{border-width: 2px;}
	.btnWh:after{
		width: 6px;
		height: 6px;
		margin-left: 2px;
		border-width: 2px;
		margin-top: -1px;
	}
	.btnWh.arrowbtm:after{margin-top: -6px; margin-left: 4px;}
	/*--smallbtn--*/
	.btnWh_s{
		padding: 0 20px 0 10px;
		font-size: 1rem;
		line-height: 20px;
	}
	.btnWh_s:after{
		width: 5px;
		height: 5px;
		margin-left: 3px;
		border-width: 1px;
		margin-top: -1px;
	}

}

/* ------------------------------
    clearfix
------------------------------ */
.cf:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

.cf {display: inline-block;}

/* Hides from IE Mac */
* html .cf {height: 1%;}
.cf {display:block;}
/* End Hack */

/* ------------------------------
   float
------------------------------ */
.aligncenter{
    display:block;
    margin:0 auto;
}
.alignright{
	float:right;
}
.alignleft{
	float:left;
}

/* ------------------------------
   text
------------------------------ */
.taC{text-align: center;}
.taR{text-align: right;}
.taL{text-align: left;}

.nowrap{
	display: inline-block;
	text-indent: 0;
}
.bold{font-weight: bold;}
/* ------------------------------
   pulldown
------------------------------ */
.pull_content{
	display: none;
}

/* ------------------------------
   form
------------------------------ */
.form_lead{
	padding-bottom: 70px;
	font-size: 1.6rem;
	line-height: 1.8;
}
.tbl_form{
	width: 100%;
	max-width: 850px;
	margin: 0 auto 60px;
}
	.tbl_form th,.tbl_form td{
		vertical-align: top;
		border-top: 1px dotted #ddd;
		padding: 14px 0;
	}
	.tbl_form tr:first-child th,.tbl_form tr:first-child  td{
		border-top: none;
		padding: 0 0 14px;
	}

	.tbl_form th{
		width: 300px;
	}
	.tbl_form th p{
		display: block;	
		border-left: 3px solid #39b4d8;
		padding-left: 18px;
		margin-top: 15px;
	}
	.tbl_form th span{
		display: inline-block;
		font-size: 1rem;
		background: #d2f2fc;
		color: #0e7ac4;
		border-radius: 3px;
		margin-left: 12px;
		padding: 4px;
		vertical-align: middle;
	}
	.tbl_form .form_att{
		padding-top: 5px;
		font-size: 1.2rem;
		color: #888;
	}
	.form_err{
		margin-top: 5px;
		padding: 5px 0 0;
		font-size: 1.3rem;
		color: #c4007a;
		/*background: #fff7fc;
		border-radius: 5px;*/
		position: relative;
	}
	.form_err:before{
		content: "";
		display: inline-block;
		vertical-align:middle;
		width: 20px;
		height: 20px;
		background: url(../img/ico_error.png) no-repeat;
		background-size: 100%;
		margin: 0 6px 6px 0;
	}
	.input_err{
		background: #fff7fc;
	}
input,textarea {
	border-radius: 3px;
	border:1px solid #ddd;
	width: 100%;
	padding: 14px;
}
input[type="checkbox"]{
	width: auto;
	display: inline-block;
	border:none;
	position: relative;
	margin: 0;
	width: 34px;
	height: 28px;	
}
input[type="checkbox"]:before{
	content: "";
	position: absolute;
	width: 26px;
	height: 26px;
	display: block;
	left: 0;
	top: 0;
	background:#fff;
	border-radius: 3px;
	border:1px solid #ddd;
}
input[type="checkbox"]:checked:after{
	content: "";
	position: absolute;
	top: 50%;
  	left: 50%;
  	width: 9px;
  	height: 14px;
  	-webkit-transform: translate(-50%,-50%) rotate(40deg);
	transform:  translate(-50%,-50%) rotate(40deg);	
	margin-top: -4px;
	margin-left: -3px;
  	border-bottom: 3px solid #0e7ac4;
  	border-right: 3px solid #0e7ac4;
}
input::placeholder, textarea::placeholder {
  color: #bbb;
}
/* IE */
input:-ms-input-placeholder ,textarea:-ms-input-placeholder {
  color: #bbb;
}
/* Edge */
input::-ms-input-placeholder ,textarea::-ms-input-placeholder {
  color: #bbb;
}

.form_kiyaku{
	background: #f8f8f8;
	width: 98%;
	max-width: 800px;
	margin: 0 auto 50px;
	padding: 10px 30px;
	border-radius: 8px;
}
	.form_kiyaku div:nth-child(1){float:left; padding-top: 8px;}
	.form_kiyaku div:nth-child(2){float: right; padding-top: 4px; padding-left: 20px;}
@media screen and (max-width: 768px) {
	.form_lead{
		text-align: left;
		padding-bottom: 20px;
		font-size: 1.3rem;
	}
	.tbl_form{margin-bottom: 30px;}
	.tbl_form th, .tbl_form td{
		width: 100%;
		display: block;
		font-size: 1.2rem;
		padding: 6px 0;
	}
	.tbl_form tr:first-child td{padding: 6px 0;} 
	.tbl_form th, .tbl_form tr:first-child th{padding: 0  0 6px;}
	.tbl_form th p{padding-left:8px;}
	.tbl_form th span{padding: 2px 3px;}
	.tbl_form td{border-top: none; padding-top: 0;}
	.form_att{
		font-size: 1rem;
	}
	.form_err{
		font-size: 1rem;
	}	

	input,textarea {
		padding: 10px;
	}
	input[type="checkbox"]{
		width: 24px;
		height: 22px;	
	}
	input[type="checkbox"]:before{
		width: 20px;
		height: 20px;
	}
	input[type="checkbox"]:checked:after{
  	width: 6px;
  	height: 10px;
	margin-top: -3px;
	margin-left: -2px;
  	border-width: 2px;
	}
	.form_kiyaku{
		margin-bottom: 30px;
		width: 100%;
		padding: 10px;
	}
	.form_kiyaku{font-size: 1.3rem;}


	.form_kiyaku dd{
		margin-top: 10px;
		padding: 10px;
	}
	.form_kiyaku dd p{font-size: 1.1rem;}

}



/* ------------------------------
    字下げ
------------------------------ */
.hang1, .hang1 li{
	padding-left: 1em!important;
	text-indent: -1em!important;
}
.hang1h, .hang1h li{
	padding-left: 1.5em!important;
	text-indent: -1.5em!important;
}

/* ------------------------------
    余白
------------------------------ */
/* -------------
    margin
---------------- */
.mB_1{margin-bottom: 30px!important;}
.mB_2{margin-bottom: 20px!important;}
.mB_3{margin-bottom: 10px!important;}

@media screen and (max-width: 768px) {
	.mB_1{margin-bottom: 20px!important;}
	.mB_2{margin-bottom: 14px!important;}
	.mB_3{margin-bottom: 6px!important;}

}


/* ------------------------------
    padding
------------------------------ */
.pB_1{padding-bottom: 30px!important;}
.pB_2{padding-bottom: 20px!important;}
.pB_3{padding-bottom: 10px!important;}

.pT_1{padding-top: 30px!important;}
.pT_2{padding-top: 20px!important;}
.pT_3{padding-top: 10px!important;}

@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
	.pB_1{padding-bottom: 20px!important;}
	.pB_2{padding-bottom: 14px!important;}
	.pB_3{padding-bottom: 6px!important;}

	.pT_1{padding-top: 20px!important;}
	.pT_2{padding-top: 14px!important;}
	.pT_3{padding-top: 6px!important;}
}
